Requirement already satisfied: utils in c:\users\asus\anaconda3\lib\site-packages (1.0.2)

In [43]:
import pandas as pd 
import time
import random
import os
from utils import get_data,data_processing
from datetime import datetime
import uuid

In [44]:
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1']
ligas = ['ESPAÑA','INGLATERRA','ITALIA','GERMANY','FRANCIA','PORTUGAL','HOLANDA']

df_ligas = {
    'LIGA':ligas,
    'URL':url
} 

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [45]:
df_ligas['URL'][1]

'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1'

In [67]:
df = pd.read_html(df_ligas['URL'][1])

In [47]:
len(df)

20

In [26]:
df[0]

                       2024/2025
0                  1LIVLiverpool
1                    2ARSArsenal
2            3MCIManchester City
3                    4CHEChelsea
4           5NEWNewcastle United
5                6AVLAston Villa
6          7FORNottingham Forest
7     8BHABrighton & Hove Albion
8            9BOUAFC Bournemouth
9                 10BRNBrentford
10                   11FULFulham
11           12CRYCrystal Palace
12                  13EVEEverton
13          14WHUWest Ham United
14        15MUNManchester United
15  16WOLWolverhampton Wanderers
16        17TOTTottenham Hotspur
17           18LEILeicester City
18             19IPSIpswich Town
19              20SOUSouthampton

In [27]:
df[1]

     J   G   E   P  GF  GC  DIF  PTS
0   38  25   9   4  86  41   45   84
1   38  20  14   4  69  34   35   74
2   38  21   8   9  72  44   28   71
3   38  20   9   9  64  43   21   69
4   38  20   6  12  68  47   21   66
5   38  19   9  10  58  51    7   66
6   38  19   8  11  58  46   12   65
7   38  16  13   9  66  59    7   61
8   38  15  11  12  58  46   12   56
9   38  16   8  14  66  57    9   56
10  38  15   9  14  54  54    0   54
11  38  13  14  11  51  51    0   53
12  38  11  15  12  42  44   -2   48
13  38  11  10  17  46  62  -16   43
14  38  11   9  18  44  54  -10   42
15  38  12   6  20  54  69  -15   42
16  38  11   5  22  64  65   -1   38
17  38   6   7  25  33  80  -47   25
18  38   4  10  24  36  82  -46   22
19  38   2   6  30  26  86  -60   12

In [68]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                               0   1   2   3   4   5   6   7   8
0                  1LIVLiverpool  38  25   9   4  86  41  45  84
1                    2ARSArsenal  38  20  14   4  69  34  35  74
2            3MCIManchester City  38  21   8   9  72  44  28  71
3                    4CHEChelsea  38  20   9   9  64  43  21  69
4           5NEWNewcastle United  38  20   6  12  68  47  21  66
5                6AVLAston Villa  38  19   9  10  58  51   7  66
6          7FORNottingham Forest  38  19   8  11  58  46  12  65
7     8BHABrighton & Hove Albion  38  16  13   9  66  59   7  61
8            9BOUAFC Bournemouth  38  15  11  12  58  46  12  56
9                 10BRNBrentford  38  16   8  14  66  57   9  56
10                   11FULFulham  38  15   9  14  54  54   0  54
11           12CRYCrystal Palace  38  13  14  11  51  51   0  53
12                  13EVEEverton  38  11  15  12  42  44  -2  48
13          14WHUWest Ham United  38  11  10  17  46  62 -16  43
14        15MUNManchester United  38  11   9  18  44  54 -10  42
15  16WOLWolverhampton Wanderers  38  12   6  20  54  69 -15  42
16        17TOTTottenham Hotspur  38  11   5  22  64  65  -1  38
17           18LEILeicester City  38   6   7  25  33  80 -47  25
18             19IPSIpswich Town  38   4  10  24  36  82 -46  22
19              20SOUSouthampton  38   2   6  30  26  86 -60  12

In [69]:


df=df.rename(columns={0:'EQUIPO',1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'})
df['EQUIPO']=df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['LIGA'] = df_ligas['LIGA'][1]

# Agregar ID al final
df = df.reset_index(drop=True)  # Resetear índice
df.insert(0, 'ID', df.index + 1)  # Agregar ID basado en índice + 1

In [70]:
df

    ID                   EQUIPO   J   G   E   P  GF  GC  DIF  PTS        LIGA
0    1                Liverpool  38  25   9   4  86  41   45   84  INGLATERRA
1    2                  Arsenal  38  20  14   4  69  34   35   74  INGLATERRA
2    3          Manchester City  38  21   8   9  72  44   28   71  INGLATERRA
3    4                  Chelsea  38  20   9   9  64  43   21   69  INGLATERRA
4    5         Newcastle United  38  20   6  12  68  47   21   66  INGLATERRA
5    6              Aston Villa  38  19   9  10  58  51    7   66  INGLATERRA
6    7        Nottingham Forest  38  19   8  11  58  46   12   65  INGLATERRA
7    8   Brighton & Hove Albion  38  16  13   9  66  59    7   61  INGLATERRA
8    9          AFC Bournemouth  38  15  11  12  58  46   12   56  INGLATERRA
9   10                Brentford  38  16   8  14  66  57    9   56  INGLATERRA
10  11                   Fulham  38  15   9  14  54  54    0   54  INGLATERRA
11  12           Crystal Palace  38  13  14  11  51  51    0   53  INGLATERRA
12  13                  Everton  38  11  15  12  42  44   -2   48  INGLATERRA
13  14          West Ham United  38  11  10  17  46  62  -16   43  INGLATERRA
14  15        Manchester United  38  11   9  18  44  54  -10   42  INGLATERRA
15  16  Wolverhampton Wanderers  38  12   6  20  54  69  -15   42  INGLATERRA
16  17        Tottenham Hotspur  38  11   5  22  64  65   -1   38  INGLATERRA
17  18           Leicester City  38   6   7  25  33  80  -47   25  INGLATERRA
18  19             Ipswich Town  38   4  10  24  36  82  -46   22  INGLATERRA
19  20              Southampton  38   2   6  30  26  86  -60   12  INGLATERRA

In [ ]:
df_ligas.to_csv('df_ligas.csv',index=False)

In [ ]:
def id_generator(team):

    return str(uuid.uuid1())[:8]

In [ ]:
id_generator('carro')

In [ ]:
id_generator('gato')

In [ ]:
lista_resultado = 0

In [ ]:
equipos = df_hola['EQUIPO'].unique()
lista_resultado = list(map(id_generator, equipos))

In [ ]:
team_table = {

    'EQUIPO':equipos,
    'ID_TEAM':lista_resultado
}

df_team = pd.DataFrame(team_table)

In [ ]:
df_team['ID_TEAM'].value_counts()

In [ ]:
df_team.to_csv('team_table.csv',index=False)

In [ ]:
pd.read_csv('df_ligas.csv')

In [ ]:
df_final = pd.merge(df_hola,df_team,how='inner',on='EQUIPO')
df_final.columns
df_final = df_final[['ID_TEAM','EQUIPO', 'J', 'G', 'E', 'P', 'GF', 'GC', 'DIF', 'PTS', 'LIGA',
       'CREATED_AT']]
df_final

In [ ]:
df_final.to_csv('premier_positions.csv',index=False)

In [ ]:
lista_resultado[0]

In [ ]:
hash('hola')